<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} ZakaZaka PROD {% endblock %}</title>
    <!-- jQuery CDN import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Materialize CDN import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Bootstrap CDN import -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/main.css' %}">

</head>
<body>
    <div class="headng">
        <div id="main_header" class="teal container-fluid">
            <h2>My header setup</h2>
        </div>
    </div>
    {% block main_body_content  %}
    {% endblock %}

</body>
</html>