    html,body {
      height:100%;
      margin:0;
    }

    #logo-size{
        width: 100px;
    }
    .brand-logo{
    margin-left: 5%;
    }
    .nav-wrapper{
        background-color: #262626;
        position: fixed;
    }
    .hide-on-med-and-down .btn{
        background-color: #505050;
        height: 0%;
        font-family: 'Amatic SC', cursive;
        font-size: 180%;
        font-weight:400;
    }
    .hide-on-med-and-down .btn:hover{
        color: #ffffff;
        background-color: dimgrey;
    }
    a{
        text-decoration: none;
    }
    .footer-copyright{
        background: rgba(6, 6, 6, .95);
    }
/*Home: template css*/
    html>body .outer-box {
      height:auto;
    }
    .outer-box {
      height:100%;
      min-height:100%; /* min used in  mozilla*/
    }
    #primary-box {
        background: rgba(50,50,50,.90);
    }
    #secondary-box {
        /*background: rgba(158,158,110, .90);*/
        background: rgba(115,143,115, 1);
    }
    #third-box{
        background: rgba(0,0,26, .95);
    }
    .title-box{
        /*border: 3px solid #456875;*/
        width:40%;
        padding-top: 15%;
    }
    #title{
        font-family: 'Satisfy', cursive;
        font-size: 450%;
        color: white;
    }
    #sub_title{
        font-family: 'Cookie', cursive;
        font-size: 230%;
        color: white;
    }
    #intro-text{
        color: white;
        font-size: 150%;
        font-family: 'Economica', sans-serif;
    }
    #more-about{
        padding-top: 2%;
    }
    .title-bottom .btn{
        font-family: 'Satisfy', cursive;
        font-size: 160% ;
        padding: 2%;
        padding-bottom: 4%;
        text-align: center;
        background-color: #666666;
    }
    .text-wrapper{
        white-space: nowrap;
    }
    /*Secondary Div elemts*/
    .top-text-box{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 45%;
    }
    .top-text{
        text-align: center;
        color: white;
        font-size: 150%;
        font-family: 'Economica', sans-serif;
    }
    .bottom-text-box-title{
        width: 80%;
        background-color: #262626;
    }
    .leff-box{

    }
    .center-box{

    }
    .right-box{

    }
/*Media: templates css*/

/*Contact: template css */