    html,body {
      height:100%;
      margin:0;
    }

    #logo-size{
        width: 100px;
    }
    .brand-logo{
    margin-left: 5%;
    }
    .nav-wrapper{
        background-color: #262626;
        position: fixed;
    }
    .hide-on-med-and-down .btn{
        background-color: #505050;
        height: 0%;
        font-family: 'Amatic SC', cursive;
        font-size: 180%;
        font-weight:400;
    }
    .hide-on-med-and-down .btn:hover{
        color: #ffffff;
        background-color: dimgrey;
    }
    a{
        text-decoration: none;
    }
    .footer-copyright{
        background: rgba(6, 6, 6, .95);
    }
/*Home: template css*/
    html>body .outer-box {
      height:auto;
    }
    .outer-box {
      height:100%;
      min-height:100%; /* min used in  mozilla*/
    }
    #primary-box {
        background: no-repeat center rgba(75,75,75,.95);
    }
    #secondary-box {
        /*background: rgba(158,158,110, .90);*/
        background: rgba(115,143,115, 1);
    }
    #third-box{
        background: rgba(50,50,50, .95);
    }
    .title-box{
        /*border: 3px solid #456875;*/
        width:50%;
        padding-top: 15%;
    }
    #title{
        /*font-family: 'Satisfy', cursive;*/
        font-family: 'Amatic SC', cursive;
        font-size: 700%;
        color: white;
        font-weight: 400;
    }
    #sub_title{
        /*font-family: 'Cookie', cursive;*/
        font-family: 'Yellowtail', cursive;
        font-size: 190%;
        color: #f0f5f5;
    }
    #intro-text{
        color: #f0f5f5;
        font-size: 160%;
        font-family: 'Economica', sans-serif;
    }
    #more-about{
        padding-top: 2%;
    }
    .title-bottom .btn{
        font-family: 'Satisfy', cursive;
        font-size: 160% ;
        color: #f0f5f5;
        padding: 2%;
        padding-bottom: 4%;
        text-align: center;
        background-color: #666666;
    }
    .title-bottom .btn:hover{
        background-color: #404040;
    }
    .text-wrapper{
        white-space: nowrap;
    }
    .float-btn-position{
        padding-right: 1%;
        padding-top: 2%;
    }
    /*Secondary Div elemts*/
    .top-text-box{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 45%;
    }
    .top-text{
        text-align: center;
        color: white;
        font-size: 150%;
        font-family: 'Economica', sans-serif;
    }
    .bottom-text-box-title{
        background-color: #999966;
        font-family: 'Economica', sans-serif;
        width: 200%;
    }
    .bottom-text-box-content{
        background-color: #85DB96;
        color: white;
        font-family: 'Economica', sans-serif;
        text-shadow: .1px .1px white;
        font-size:150%;
        font-weight: 400;
    }
    /*Third Div Elements*/
    .fndr-box{
        width: 50%;
        padding-top: 10%;
    }
    .fndr-img-cirle{
        width: 100px;
        height: 100px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background: url(../img/IMG-20161222-WA0004.jpg) center no-repeat;
    }
    .lft-container{
        border-left: 3px solid #ADE082;
    }
    .lft-container:hover{
        border-left: 3px groove #E69973;
    }
    .form-container{
        margin-top: 8%;
    }
    .form-position{
        padding-top: 5%;
        width: 80%;
    }
    .form-title{
        font-size: 200%;
        font-family: 'Economica', sans-serif;
        font-weight: 300;
        color: white;
        margin-top: 5%;
        padding-left: 2%;
        text-decoration: none;
    }
     .form-title:hover{
        color: white;
        text-decoration: none;
    }
    #labelFont{
        font-size: 100%;
        font-family: 'Economica', sans-serif;
    }
    #first_name, #last_name, #email, #subject, #email-area{
        color: white;
        font-size: 100%;
    }
    #input-text{
        color: white;
    }
    .sndbtn {
        width: 25%;
        background-color: #5C8F45;
    }
/*News APP*/

/*Media: templates css*/

/*Contact: template css */