{% extends 'homeai/base.html' %}
{% block main_body_content %}
       <div class='outer-box' id='primary-box'>
        <div class="container-fluid" align="center">
            <div class="title-box" align="center">
                <h2 class="home-title" id="title">{{ title }}</h2>
                <div><p id="sub_title">{{ sub_title }}</p></div>
                <div>
                    <p id="intro-text">We make music that is listen internationally, good music, quality music, join us in our journey.
                    The number one source for good music in Mali. We are Zaka-Zaka Music!
                    </p>
                </div>

            </div>
            <div class="title-bottom" id="more-about">
                <a class="btn" id="about-button">Who are we?</a>
            </div>
        </div>
    </div>
    <div class='outer-box' id='secondary-box'>
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">

                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="outer-box" id="third-box"></div>
{% endblock %}